<form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword()"
    novalidate
    [@animate]="{ value: '*', params: { duration: '350ms', y: '100%' } }"
>
    <div *ngIf="loading" class="content-loading">
        <app-loading></app-loading>
    </div>
    <span class="text-secondary text-center d-block mb-4">
        {{ 'AUTH.TITLE_FORGOT_PASSWORD' | translate }}
    </span>
    <app-form-email formControlName="email"></app-form-email>
    <app-button
        [type]="'submit'"
        [disabled]="forgotPasswordForm.invalid"
        [buttonType]="'normal'"
        name="{{ 'AUTH.BTN_FORGOT_PASS' | translate }}"
        classes="w-100 mt-3 bg-color--redPrin"
    ></app-button>
    <a [routerLink]="['/auth/login']" class="text-center text-secondary text-decoration-none d-block mt-4">
        {{ 'AUTH.LINK_GO_LOGIN' | translate }}
    </a>
</form>
