<div class="content-sidebar">
    <div class="header p-2">
        <div class="logo">
            <img src="assets/images/logo/logo-red-icon.svg" alt="Sicrux" />
        </div>
    </div>
    <div class="content-menu mt-3" fxLayout="column wrap" fxLayoutAlign="center center">
        <a
            *ngFor="let item of sidebar"
            [matTooltip]="item.matTooltip | translate"
            [matTooltipPosition]="item.matTooltipPosition"
            [routerLink]="item.routerLink"
            [routerLinkActive]="item.routerLinkActive"
            [class]="item.class"
        >
            <mat-icon class="text-white icon">{{ item.icon }}</mat-icon>
        </a>
        <a
            matTooltip="{{ 'SIDEBAR.NAV.LOGOUT.TITLE' | translate }}"
            matTooltipPosition="right"
            (click)="_authService.logout()"
            class="content-icon-menu"
        >
            <mat-icon class="content-icon-menu pb-1 pt-5 text-danger"> logout </mat-icon>
        </a>
    </div>
</div>
