<div class="container-fluid p-3 bg-secondary h-100 d-flex align-items-center">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Hola mundo</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
            numquam quisquam distinctio at fugiat eveniet ad id illum amet
            consequatur reiciendis dicta error voluptatibus temporibus voluptate
            quaerat expedita aliquam debitis?
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Hola mundo</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
            numquam quisquam distinctio at fugiat eveniet ad id illum amet
            consequatur reiciendis dicta error voluptatibus temporibus voluptate
            quaerat expedita aliquam debitis?
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Hola mundo</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
            numquam quisquam distinctio at fugiat eveniet ad id illum amet
            consequatur reiciendis dicta error voluptatibus temporibus voluptate
            quaerat expedita aliquam debitis?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
