<div [formGroup]="form" fxLayout="row wrap">
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>{{ 'FORMS_BASIC.PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-icon matSuffix class="text-secondary">vpn_key</mat-icon>
        <mat-error *ngIf="passwordControl.touched && passwordControl.hasError('required')">
            {{ 'FORMS_ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error
            *ngIf="
                passwordControl.touched &&
                !passwordControl.hasError('required') &&
                passwordControl.hasError('minlength')
            "
        >
            {{ 'FORMS_ERRORS.MIN_LENGTH_1' | translate }}
            {{ passwordControl.errors?.minlength.requiredLength }}
            {{ 'FORMS_ERRORS.MIN_LENGTH_2' | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="showConfirm" appearance="outline" fxFlex="100">
        <mat-label>{{ 'FORMS_BASIC.PASSWORD_CONFIRM' | translate }}</mat-label>
        <input matInput formControlName="passwordConfirm" type="password" />
        <mat-icon matSuffix class="text-secondary">vpn_key</mat-icon>
        <mat-error *ngIf="passwordConfirm.touched && passwordConfirm.hasError('required')">
            {{ 'FORMS_ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="passwordConfirm.touched && passwordConfirm.hasError('noIgual')">
            {{ 'FORMS_ERRORS.PASSWORD_CONFIRM_ERROR' | translate }}
        </mat-error>
    </mat-form-field>
</div>
