<div class="">
    <!-- dark-theme-mode -->
    <div class="content-dashboard mat-app-background">
        <div fxLayout="row wrap">
            <div fxFlex.xs="10" fxFlex.gt-xs="4" class="content-sidebar bg-panels">
                <app-sidebar></app-sidebar>
            </div>
            <div fxLayout="row wrap" fxFlex.xs="90" fxFlex.gt-xs="96" class="content-main mat-app-background">
                <div fxFlex="100" class="content-nav-bar mb-2">
                    <app-nav-bar></app-nav-bar>
                </div>
                <div fxFlex="100" class="main mat-app-background">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
