.content {
  height: 100vh;
  background-color: #f2f2f2;
  .content-sidebar {
    height: 100vh;
  }
  .content-nav-bar {
    height: 60px;
  }

  .content-main {
    height: calc(100vh - 120px);
  }

  .content-footer {
    height: 60px;
  }
}
