<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 content-sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-12 content-nav-bar">
            <app-nav-bar></app-nav-bar>
          </div>
          <div class="col-12 content-main">
            <router-outlet></router-outlet>
          </div>
          <div class="col-12 content-footer">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
