.content-layout-public {
    height: 100vh;

    .content-nav-bar {
        height: 70px;
    }
    .content-main {
        height: calc(100vh - 110px);
    }
    .content-footer {
        height: 40px;
    }
}
