<div class="bg-white d-flex flex-column align-items-center pb-4">
    <h1 matDialogTitle class="text-center">{{ dataDialog.title }}</h1>
    <div mat-dialog-content>
        <span class="d-block text-secondary fz--12 text-center">{{ dataDialog.message }}</span>
    </div>
    <div mat-dialog-actions class="pt-24" fxLayout="row wrap" fxLayoutAlign="center end" fxFlex="100">
        <button mat-raised-button class="mat-accent mr-16 text-white" (click)="dialogRef.close(true)">
            {{ 'FORMS_BASIC.BTNS.IS_OK' | translate }}
        </button>
        <button
            class="d-flex justify-content-center"
            *ngIf="dataDialog.showBtnClose"
            mat-button
            (click)="dialogRef.close(false)"
        >
            {{ 'FORMS_BASIC.BTNS.CANCEL' | translate }}
        </button>
    </div>
</div>
