<div *ngIf="accountVerifing; then verifing; else form"></div>

<ng-template #verifing>
    <div class="content-loading">
        <app-loading></app-loading>
    </div>
</ng-template>

<ng-template #form>
    <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()"
        novalidate
        [@animate]="{ value: '*', params: { duration: '350ms', y: '100%' } }"
    >
        <span class="text-secondary text-center d-block mb-4">
            {{ title }}
        </span>
        <div *ngIf="loading" class="content-loading">
            <app-loading></app-loading>
        </div>
        <app-form-password [showConfirm]="true" formControlName="password"></app-form-password>

        <app-button
            [type]="'submit'"
            [disabled]="resetPasswordForm.invalid"
            [buttonType]="'normal'"
            name="{{ 'AUTH.CREATE_PASSWORD' | translate }}"
            classes="w-100 mt-3 bg-color--redPrin"
        ></app-button>
    </form>
</ng-template>
