<div class="content-chart box-shadow">
    <h3 class="text-center text-secondary m-0">{{ title }}</h3>
    <div
        *ngIf="typeChartShow === 'horizontal'"
        class="content-widget-chart"
        [ngStyle]="{
            'height.px': height
        }"
    >
        <ngx-charts-bar-horizontal-stacked
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-bar-horizontal-stacked>
    </div>
    <div
        *ngIf="typeChartShow === 'vertical'"
        class="content-widget-chart"
        [ngStyle]="{
            'height.px': height
        }"
    >
        <ngx-charts-bar-vertical-stacked
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [customColors]="customColors"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-bar-vertical-stacked>
    </div>
</div>
