.box-shadow {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.bg-panels {
    background-color: $dark-primary-text;
}

.separator-point {
    font-weight: 600;
    font-size: 2em;
}

.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
