@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');

$primaryFont: 'Poppins', sans-serif !important;

body {
    font-size: 16px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $primaryFont;
        font-weight: 600;
        font-size: 1.2em;
    }

    a,
    p,
    small,
    span,
    button,
    select,
    input,
    textarea {
        font-family: $primaryFont;
    }
}

$fontSize: (
    1: 1em,
    12: 1.2em,
    15: 1.5em,
    2: 2em,
    25: 2.5em,
    3: 3em,
    35: 3.5em,
    4: 4em,
    45: 4.5em,
    5: 5em,
    55: 5.5em,
);

@each $name, $value in $fontSize {
    .fz--#{$name} {
        font-size: $value !important;
    }
}
